<div class="dashboard-container">
    <div class="chart-container">
      <h2>Genre Distribution</h2>
      <canvas id="genreStats"></canvas>
    </div>
    
    <div class="chart-container">
      <h2>User Growth</h2>
      <canvas id="userGrowth"></canvas>
    </div>
    
    <div class="chart-container">
      <h2>Listening Hours Distribution</h2>
      <canvas id="listeningHours"></canvas>
    </div>
    
    <div class="chart-container">
      <h2>Top Artists</h2>
      <canvas id="topArtists"></canvas>
    </div>
</div>