<div class="flex w-screen h-screen overflow-auto bg-background text-white">
  <aside class="h-screen w-[338px] basis-navtab bg-foreground py-[40px]">
    <a routerLink=""><h1 class="font-semibold text-2xl px-[20px]">ADMIN DASHBOARD</h1></a>
    <nav class="pt-[52px] text-base font-light">
      <a routerLink="admin" routerLinkActive="bg-background" class="flex gap-[40px] items-center pt-[24px] pb-[25px] px-4 hover:bg-purple-950">
        <div class="basis-[26px]"><mat-icon class="text-3xl block" aria-hidden="false" aria-label="Admin icon" fontIcon="account_circle"></mat-icon></div>
        <div>Admin management</div>
      </a>
      <a routerLink="users" routerLinkActive="bg-background" class="flex gap-[40px] items-center pt-[24px] pb-[25px] px-4 hover:bg-purple-950">
        <div class="basis-[26px]"><mat-icon class="text-3xl block" aria-hidden="false" aria-label="Admin icon" fontIcon="manage_accounts"></mat-icon></div>
        <div>Users management</div>
      </a>
      <a routerLink="publish" routerLinkActive="bg-background" class="flex gap-[40px] items-center pt-[24px] pb-[25px] px-4 hover:bg-purple-950">
        <div class="basis-[26px]"><mat-icon class="text-3xl block" aria-hidden="false" aria-label="Admin icon" fontIcon="lyrics"></mat-icon></div>
        <div>Publish requests</div>
      </a>
    </nav>
  </aside>
  <main class="py-[53px] px-[57px] w-full">
    <router-outlet></router-outlet>
  </main>
</div>
